DATABASE_URL=postgres:///checkout_development
PORT=4567
RACK_ENV=development
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5175,http://127.0.0.1:5175,http://localhost:4567,http://127.0.0.1:4567
GATEWAY_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
GATEWAY_PUBLIC_KEY=
GATEWAY_PRIVATE_KEY=
GATEWAY_INTEGRITY_SECRET=
GATEWAY_MODE=sandbox
